<div class="well">
	<h3>Admin controls</h3>
	<form>
		<div class="form-group">
			<label for="adminRoomCode">lobby code:</label>
			<input #code type="text" name="adminRoomCode" class="form-control" [(ngModel)]="lobbyCode" appOnlyAlpha [appMaxChars]='4'>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" (click)="create(code.value)" [disabled]="!isValidLobbyCode()">Create</button>
			<button class="btn btn-primary" (click)="close(code.value)" [disabled]="!isValidLobbyCode()">Close</button>
			<button class="btn btn-primary" (click)="next()">Next activity</button>
		</div>
	</form>

	<div *ngIf="checkConnection(); then good_connection else bad_connection"></div>
	<ng-template #good_connection><p class="bg-success">Connected</p></ng-template>
	<ng-template #bad_connection><p class="bg-danger">ERROR: Server offline!</p></ng-template>
</div>